.restaurant-card {
    position: relative;
    overflow: hidden;
    cursor:pointer;
  }
  
  .restaurant-span {
    /* position: absolute;
    width: 90%;
    top: 50%;
    border: 4px solid #ffd40d;
    border-radius: 30px;
    height: 92%;
    transition: 0.3s ease-in-out;
    transform: translate(-50%, -50%);
    left: 50%; */
  }
  
  
  .coctail-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f3274ce8;
    padding: 40px;
    text-align: center;
    height: 100%;
    padding-top: 33%;
    border-radius: 30px;
    transition: 0.3s ease-in-out;
    transform: rotateY(90deg) scale(0.3);
  }
  
  .restaurant-card:hover > .coctail-bar{
      transition: 0.3s ease-in-out;
      transform: rotateY(0deg);
    }
  
  