.carousel-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 'fit-content';
  width: 100%;
  background-size: 100% 100%;
}

.slide {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
}

.slide-hidden {
  display: none;
}

.indicator {
  height: 1rem;
  width: 1rem;
  border-radius: 100%;
  border-width: 5px;
  border-style: solid;
  padding: 4px;
  margin: 4px;
  cursor: pointer;
}

.indicator-inactive {
  border: none;
}

.video a {
  color: white;
  display: flex;
  letter-spacing: 1px;
  align-items: center;
  font-weight: 700;
}

a {
  text-decoration: none;
}

.video i {
  width: 65px;
  height: 65px;
}

.video i {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #fff;
  border-radius: 50%;
  -webkit-animation: ripple 3s infinite;
  animation: ripple 3s infinite;
}

.video a {
  color: white;
  display: flex;
  letter-spacing: 1px;
  align-items: center;
}

@keyframes ripple {
  70% {
    box-shadow: 0 0 0 20px rgb(255 212 13 / 25%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(255 212 13 / 25%);
  }
}

@media only screen and (max-width: 1400px) and (min-width: 1200px) {
  .carousel {
    max-height: 600px;
    min-height: 600px;
  }
}
