::-webkit-scrollbar-thumb {
    background-color: #f90;
    background-image: -webkit-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.2) 75%,
      transparent 75%,
      transparent
    );
    background-color: #f3274c;
  }
  
  ::-webkit-scrollbar-thumb:active {
    background-color: #f90;
    background-image: -webkit-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.2) 75%,
      transparent 75%,
      transparent
    );
    background-color: #f3274c;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #f90;
    background-image: -webkit-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.2) 75%,
      transparent 75%,
      transparent
    );
    background-color: #f3274c;
  }
  
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  .animated-btn-001 {
    padding: 18px 20px;
    position: relative;
    border-radius: 12px;
    color: white;
    z-index: 111;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    text-transform: capitalize;
    background-color: #f3274c;
    cursor: pointer;
  }
  
  .animated-btn-002 {
    padding: 18px 20px;
    position: relative;
    border-radius: 12px;
    color: white;
    z-index: 111;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    text-transform: capitalize;
    background-color: #ffd40d;
    cursor: pointer;
  }
  
  
  .animated-btn-001:before {
    transition: 0.3s ease-in-out;
    content: "";
    position: absolute;
    width: 94%;
    right: -7px;
    border: 3px solid #f3274c;
    height: 72px;
    border-radius: 12px;
    top: -6px;
    z-index: -1;
    box-sizing: border-box;
  }
  
  .animated-btn-002:before {
    transition: 0.3s ease-in-out;
    content: "";
    position: absolute;
    width: 94%;
    right: -7px;
    border: 3px solid #ffd40d;
    height: 72px;
    border-radius: 12px;
    top: -6px;
    z-index: -1;
    box-sizing: border-box;
  }
  
  .animated-btn-002:hover:before {
    width: 30%;
  }
  
  .header-nav-002:hover {
    background: transparent !important;
  }
  
  .animated-btn-001:hover:before {
    width: 30%;
  }
  
  .header-nav-001:hover {
    background: transparent !important;
  }
  
  .header-nav-label-001:hover {
    color: #f3274c;
  }
  
  /* for testing */
  .cbmis-slide{
      border-radius: 0 !important;
      background-color: transparent;
      min-height: fit-content !important;
      background-size: auto;
  }
  
  