.loader {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: -100%;
  z-index: 1111111;
  background-color: #f3274c;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.86, 0, 0.09, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.09, 1);
}

.loading {
  left: 0;
  top: 0;
}

.loader .container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  animation: rotate-move 2s ease-in-out infinite;
}

.dot-1 {
  background-color: #ffd40d;
  animation: dot-1-move 2s ease infinite, index 6s -2s ease infinite;
}

.dot-2 {
  background-color: #000;
  animation: dot-2-move 2s ease infinite, index 6s -4s ease infinite;
}

.dot-3 {
  background-color: #fff;
  animation: dot-3-move 2s ease infinite, index 6s ease infinite;
}

.dot {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.loaded {
  -webkit-animation: load-out 3s;
  animation: load-out 3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes dot-1-move {
  20% {
    transform: scale(1);
  }

  45% {
    transform: translate(16px, 12px) scale(0.45);
  }
  60% {
    transform: translate(80px, 60px) scale(0.45);
  }
  80% {
    transform: translate(80px, 60px) scale(0.45);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}

@keyframes dot-2-move {
  20% {
    transform: scale(1);
  }
  45% {
    transform: translate(-16px, 12px) scale(0.45);
  }
  60% {
    transform: translate(-80px, 60px) scale(0.45);
  }
  80% {
    transform: translate(-80px, 60px) scale(0.45);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}

@keyframes dot-3-move {
  20% {
    transform: scale(1);
  }

  45% {
    transform: translateY(-18px) scale(0.45);
  }
  60% {
    transform: translateY(-90px) scale(0.45);
  }
  80% {
    transform: translateY(-90px) scale(0.45);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}

@keyframes rotate-move {
  55% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  80% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@-webkit-keyframes load-out {
  from {
    bottom: 0;
    opacity: 1;
  }

  to {
    bottom: 100%;
    opacity: 1;
  }
}

@keyframes load-out {
  from {
    bottom: 0;
    opacity: 1;
  }

  to {
    bottom: 100%;
    opacity: 1;
  }
}
