.animation-editor-container{
    background-color: #ffffff;
    width: 150vmin;
    padding: 5px;
    border-radius: 10px;
}

@media only screen and (max-width: 600px) {
    .animation-editor-container {
      width: 80vmin;
      padding: 10px 10px;
    }
  }